<div class='crop' [style.width.px]="ratingWidth" >
        <div style="width:86px">
                <span class="glyphicon glyphicon-star" (click)="changeRating(1)"></span>
                <span class="glyphicon glyphicon-star" (click)="changeRating(2)"></span>
                <span class="glyphicon glyphicon-star" (click)="changeRating(3)"></span>
                <span class="glyphicon glyphicon-star" (click)="changeRating(4)"></span>
                <span class="glyphicon glyphicon-star" (click)="changeRating(5)"></span>
            </div>
</div>